# phpMyAdmin default Apache configuration

Alias /dbadmin /usr/share/phpmyadmin

<Directory /usr/share/phpmyadmin>
	Options FollowSymLinks
	DirectoryIndex index.php

    {% if phpmyadmin.auth_ips is defined %}
        Order Deny,Allow
        {% for auth_ip in db_conf.auth_ips %}
        SetEnvIf X-Forwarded-For "{{ phpmyadmin.auth_ip }}" AllowAccess
        Allow from {{ phpmyadmin.auth_ip }}
        {% endfor %}
        Allow from env=AllowAccess
        Deny from all
    {% else %}
        Order allow,deny
        Allow from all
    {% endif %}

    <IfModule mod_php7.0.c>
        AddType application/x-httpd-php .php

        php_flag magic_quotes_gpc Off
        php_flag track_vars On
        php_flag register_globals Off
        php_admin_flag allow_url_fopen Off
        php_value include_path .
        php_admin_value upload_tmp_dir /var/lib/phpmyadmin/tmp
        php_admin_value open_basedir /usr/share/phpmyadmin/:/etc/phpmyadmin/:/var/lib/phpmyadmin/:/usr/share/php/php-gettext/:/usr/share/javascript/
    </IfModule>

</Directory>

# Disallow web access to directories that don't need it
<Directory /usr/share/phpmyadmin/libraries>
    Order Deny,Allow
    Deny from All
</Directory>
<Directory /usr/share/phpmyadmin/setup/lib>
    Order Deny,Allow
    Deny from All
</Directory>